AD Evaluation of draft-ietf-ccamp-optical-impairment-topology-yang-18

> <general> Please address the YANG doctors review comments from Michal Vasko on
> v18
> 

- [x] AP: Italo/Sergio
a669c91beb5ef44f34e18d8b72406442f9423226
8a23705810129ecaba6ea91bf3904ecd49fb0ffc
a32be63d4661b60a4a77c54e842a3f582fb56f2f
0fb14b0b98cd429230bcfe4a16be53b566e39d51
bc5a91b52948469c2e6fac2de9a7d070f015afb1
> 
>   == The document seems to lack the recommended RFC 2119 boilerplate, even if
>      it appears to use RFC 2119 keywords. 
> 
>      (The document does seem to have the reference to RFC 2119 which the
>      ID-Checklist requires).
> 
>   == Unused Reference: 'RFC2119' is defined on line 4552, but no explicit
>      reference was found in the 

- [x] AP: Dieter
- Reference to RFC2119 removed
- MUST (one single occurrence) changed to must (lowercase)

**Update based on the discussion in the meetings on June 17 and June 24**:
- Removal of reference to RFC2119 reverted --> added back (the reference is used in the YANG code)
- Reference to RFC8174 added (the reference is used in the YANG code)
- RFC2119 keywords updated based on the agreement in the meetings

> 
> <major> There is also some use of "must", "should not", etc. in lowercase
> which does sound like a normative language. If so, it would be good to
> capitalize them for clarity if that is something which is important
> for interoperability or consistency across implementations. If that is not the
> case, then please review and you could turn things down into lower case.
> 
> 
> <major>
>   == Missing Reference: 'RFC3688' is mentioned on line 4524, but not defined
> 
>   == Unused Reference: 'RFC9094' is defined on line 4661, but no explicit
>      reference was found in the text
> 
>   == Unused Reference: 'G.709' is defined on line 4699, but no explicit
>      reference was found in the text
> 
>   == Unused Reference: 'G.872' is defined on line 4708, but no explicit
>      reference was found in the text

- [x] AP: Dieter
- Missing Reference: 'RFC3688' added to the Normative References
- Reference to G.709 addded --> no more an unused reference
- Reference to G.872 addded --> no more an unused reference

> 
> <general> I liked it that the document takes excerpts from some of the ITU-T
> and other specifications to explain terminologies. That is very helpful.
> However, the document is not consistent with the same approach and there are
> several other acronyms and terms where they are not defined or defined later
> in the document flow. Please see below for some examples, but request authors
> to take a pass through and review.

- [ ] AP: Dieter to create a specific issue related to the need to review the document to look for acronyms and terms not defined or defined later in the document flow.

> 
> <nit> I found several places in the document where some grammar, punctuation,
> and sentence construction can be fixed/improved. I've pointed out a few. However, 
> I am not going to get into that level of editorial review and will instead 
> recommend the use of some of the widely available tools (e.g., Microsoft Word, 
> Google Docs, Grammarly, etc.).
> 
> 
> 22   paths through the network.  The determination of appropriate paths is
> 23   known as Impairment-Aware Routing and Wavelength Assignment (IA-RWA)
> 24   for WSON, while it is known as Impairment-Aware Routing and Spectrum
> 25   Assignment (IA-RSA) for SSON.
> 
> <minor> Please expand WSON and SSON to make the abstract self-sufficient.

- [x] AP: Dieter to expand WSON (Wavelength-Switched Optical Network) and SSON (Spectrum-Switched Optical Network)

New Abstract:
```
Abstract

   In order to provision an optical connection through optical networks,
   a combination of path continuity, resource availability, and
   impairment constraints must be met to determine viable and optimal
   paths through the network.  The determination of appropriate paths is
   known as Impairment-Aware Routing and Wavelength Assignment (IA-RWA)
   for a Wavelength Switched Optical Network (WSON), while it is known
   as Impairment-Aware Routing and Spectrum Assignment (IA-RSA) for a
   Spectrum Switched Optical Network (SSON).
```

> 
> 117   In order to provision an optical connection (an optical path) through
> 118   a wavelength switched optical networks (WSONs) or spectrum switched
> 119   optical networks (SSONs), a combination of path continuity, resource
> 120   availability, and impairment constraints must be met to determine
> 
> <minor> Perhaps a reference to RFC6566 would be a helpful pointer to a reader
> that is trying to understand what the term "impairment" refers to in this
> context? Or perhaps there is some other reference? And if not by reference,
> perhaps explain in this section what that term means?

- [x] AP: Dieter to add reference to RFC6566 to help reader to understand what the term "impairment" refers to in this context

Proposed new text:

```
   An introduction to optical impairments and their impact on optical
   signals (degradation) is provided in [RFC6566].

```
> 
> 
> 133   The intent of this document is to provide a YANG data model, which
> 134   can be utilized by a Multi-Domain Service Coordinator (MDSC) to
> 135   collect states of WSON impairment data from the Transport PNCs to
> 
> <minor> Please expand PNC

- [x] AP: Dieter to add Provisioning Network Controller (PNC) 
Submitted PR#193 at https://github.com/ietf-ccamp-wg/draft-ietf-ccamp-optical-impairment-topology-yang/pull/193  with the intent to generalize the description of the YANG model as being used between controllers but not to pin it to a specific architecture. Reference to ACTN is kept as an example. The effect of this is that we do not need to specify different controllers which is irrelevant for the model anyhow.

**Update** (June 13): the paragraph has been replaced --> see new section 2.1. below.

> 
> 136   enable impairment-aware optical path computation according to the
> 137   ACTN Architecture [RFC8453].
> 
> 
> 146   and management plane capabilities.  The YANG data model defined in
> 147   this draft is providing sufficient information to enable optical
> 
> <nit> s/draft/document/g (there is handful of this usage)

- [x] AP: s/draft/document/g 
- done

> 
> 148   impairment aware path computation.
> 
> 
> 159   Therefore, the topology information that is typically provided by a
> 160   Transport PNC is assumed to be read-only (ro) data, i.e., not
> 161   configurable (read-write).  This may change when the same optical
> 162   impairment-aware topology model is used for other use cases than
> 163   exposing the network topology.  E.g, for a path computation engine,
> 164   where topological elements could be added in the context of a what-if
> 165   scenario analysis.  This is outside of the scope of this document.
> 
> <question> How easy/difficult is the process to change ro to rw for a model's
>  data? Is it backwards compatible or would need a new model.

- [x] AP: Italo/Sergio
A node that represented state data (so ro) may be changed to represent
 configuration (so rw) , provided it is not mandatory  (RFC7950).
In case of the "lists" they all already have a key also for this purpose.

> 
> 171 1.1.  Terminology
> 
> 173   Refer to [RFC6566], [RFC7698], and [G.807] for the key terms used in
> 174   this document.
> 
> <minor> It would help a reader if those key terms were mapped to each of these
> specs.

- [ ] AP: authors: to map key terms to [RFC6566], [RFC7698], and [G.807] depending on the cases, e.g. "impairment" is mapped to  RFC6566

> 
> 
> 219   WDM-node.  The add/drop TE-link typically carries a single OTSi
> 220   signal (modulated optical carrier).
> 
> <minor> Please put a forward reference to sec 2.3.1 where OTSi is described if
> not bringing that up forward here into the introduction

- [x] AP: in Section 1.1Dieter to put a forward reference to sec 2.3.1 where OTSi is described  at "The add/drop TE-link typically carries a single OTSi signal (modulated optical carrier)."

```
   The term "add/drop TE-link" refers to a TE-link representing the
   media channel between a transceiver's media port of a remote optical
   transponder (OT) and an add/drop port of the ROADM in the adjacent
   WDM-node.  The add/drop TE-link typically carries a single optical
   tributary signal (OTSi, i.e., a modulated optical carrier, see
   section Section 2.3.1).
```

> 
> 255              Table 1: Prefixes and corresponding YANG modules
> 
> 257   [Editor's note: The RFC Editor will replace XXXX with the number
> 258   assigned to the RFC once this draft becomes an RFC.]
> 
> <nit> This should be "Note to RFC Editor". Please fix this throughout the
> document for notes that carry instructions for the RFC Editor.

- [x] AP: Dieter : s/"Editor's note"/"Note to RFC Editor"/

```
   [Note to RFC editor: Please replace XXXX with the number assigned to
   the RFC once this draft becomes an RFC.]
```

**Update** (June 13): we decided to remove Figure 1 completely --> Note has been removed too.

> 
> 282      | +--------+  |    +---/              \---+    |  +--------+ |
> 283      | |Vend. B |--|--+    /                \    +--|--| Vend. B| |
> 284      | +--------+  |  +---(   OLS Segment    )---+  |  +--------+ |
> 
> <minor> What is an OLS Segment? Can it be described (or reference provided)
> below this figure?

- [x] AP: add description or reference for Optical Line System (OLS) segment 

**Update** (June 13): we decided to remove Figure 1 completely --> the term "OLS" has been removed too.

> 
> 285      | +--------+  |  +---(                  )---+  |  +--------+ |
> 286      | |Vend. C |--|--+    \                /    +--|--| Vend. C| |
> 
> 
> 293                |                                        |
> 294                |                                        |
> 295       Scope of RFC AAAA                        Scope of RFC AAAA
> 
> 297                        Figure 1: Scope of RFC AAAA
> 
> 299   Note: The RFC Editor will replace AAAA above with the number assigned
> 300   to the RFC once draft-ietf-ccamp-dwdm-if-param-yang will become an
> 301   RFC.
> 
> <major> There is a problem with this note. The above draft is reference
> informatively in this document. However, what is being asked of above is to
> hold this document until this draft is published as an RFC. This is bringing
> in an odd sort of dependency. Please consider if this can be avoided.

- [x] AP: add clarification about draft-ietf-ccamp-dwdm-if-param-yang.
 
SB> Proposed text:
OLD: 
The topology model developed in this document is an abstracted
   topology YANG model that can be used at the interfaces between the
   MDSC and the Optical Domain Controller (aka MPI) and between the
   Optical Domain Controller and the Optical Device (aka SBI) in
   Figure 1.  It is not intended to support a detailed low-level DWDM
   interface model.  DWDM interface model is supported by the models
   presented in [I-D.ietf-ccamp-dwdm-if-param-yang].

NEW:
The topology model developed in this document is an abstracted
   topology YANG model describing a "network model" (see RFC 8969) that can be used at the interfaces between Controllers (e.g. hierarchical controller and optical domain controller) and between the Optical Domain Controller and the Device Controller  in Figure 1. This document does not intend to support a detailed low-level DWDM
   "interface management" model (see RFC 8343).  The WDM interface model is a device model (in particular, an interface management model) as defined in RFC8969 and is supported by the model presented in [I-D.ietf-ccamp-dwdm-if-param-yang].

**Update** (June 13): here is the new section 2.1:

```
2.  Scope of this document and Reference Architecture

2.1.  Scope of this document

   The optical impairment-aware topology YANG model defined in this
   document is a network model as defined in [RFC8969] and is applicable
   to devices and network controllers.  The topology model provides
   read-only network topolgy status information that is typically used
   for path computation during service provisioning when a new services
   is established on the network.

   The DWDM interface YANG model defined in
   [I-D.ietf-ccamp-dwdm-if-param-yang] is a device model as defined in
   [RFC8969] (a DWDM interface management model to be precise) and is
   intended to be used for device configuration.

2.2.  Optical Transport Network Data Plane
```

> 
> 303   The topology model developed in this document is an abstracted
> 304   topology YANG model that can be used at the interfaces between the
> 305   MDSC and the Optical Domain Controller (aka MPI) and between the
> 306   Optical Domain Controller and the Optical Device (aka SBI) in
> 
> <nit> Please expand MPI and SBI

- [x] AP: Dieter:  expand MPI and SBI as MDSC-PNC Interface (MPI) and Southbound Interface (SBI)
Submitted PR#193 at https://github.com/ietf-ccamp-wg/draft-ietf-ccamp-optical-impairment-topology-yang/pull/193  with the intent to generalize the description of the YANG model as being used between controllers but not to pin it to a specific architecture. Reference to ACTN is kept as an example. The effect of this is that we do not need to specify different controllers neither specific interface (eg. MPI or SBI) which is irrelevant for the model anyhow.

> 
> 307   Figure 1.  It is not intended to support a detailed low-level DWDM
> 
> <nit> Perhaps ... This document does not intend to support ...?

- [x] AP: Dieter:  s/"It is not intended to support"/"This document does not intend to support"/

**Update** (June 13): the paragraph has been replaced --> see new section 2.1. above.

> 
> 308   interface model.  DWDM interface model is supported by the models
> 309   presented in [I-D.ietf-ccamp-dwdm-if-param-yang].
> 
> 
> 333                          OTS MCG        OTS MCG
> 334                        <--------->    <--------->
> 335                            OMS MCG = TE-link
> 336                    <-------------------------------->
> 
> <minor> What is OTS and OMS? Can it be described (or reference provided)
> below in the legend as well?

- [x] AP: Dieter to refer G.807 Section 7.3.3 of G.807 for OMS and OTS MCG definitions
- Dieter's comment: correct reference is clause 3.2.4, which is cited in the text (see below)
 

```
     +-------------------+                      +-------------------+
     |     WDM-Node 1    |                      |     WDM-Node 2    |
     |                   |                      |                   |
     | PA  +-------+ BA  |         ILA          | PA  +-------+ BA  |
     | +-+ |       | +-+ |  _____  +--+  _____  | +-+ |       | +-+ |
   --|-| |-| ROADM |-| |-|-()____)-|  |-()____)-|-| |-| ROADM |-| |-|--
     | +-+ |       | +-+ |         +--+         | +-+ |       | +-+ |
     |     +-------+     | optical              |     +-------+     |
     |       | | |       |  fiber               |       | | |       |
     |       o o o       |                      |       o o o       |
     |    local          |                      |    local          |
     |    transponders   |                      |    transponders   |
     +-------------------+                      +-------------------+

                          OTS MCG        OTS MCG
                        <--------->    <--------->
                            OMS MCG = TE-link
                    <-------------------------------->

      BA: Booster Amplifier (or egress amplifier)
      PA: Pre-Amplifier (or ingress amplifier)
      ILA: In-Line Amplifier
      OTS MCG: Optical Transmission Section MCG [G.807]
      OMS MCG: Optical Multiplex Section MCG [G.807]
      MCG: Media Channel Group [G.807]

       Figure 2: Reference Architecture for Optical Transport Network
```
and text update:

```
   According to [G.807], clause 3.2.4, a Media Channel Group (MCG)
   represents "a unidirectional point-to-point management/control
   abstraction that represents a set of one or more media channels that
   are co-routed.  A media channel group (MCG) is bounded by a pair of
   media ports."
```

> 
> 338      BA: Booster Amplifier (or egress amplifier)
> 339      PA: Pre-Amplifier (or ingress amplifier)
> 340      ILA: In-Line Amplifier
> 341      MCG: Media Channel Group
> 
> 
> 379   An OMS MCG traverses a sequence of elements such as BA, fiber
> 380   section, ILA, PA, and concentrated loss wherever there is an
> 381   insertion loss caused for example by a fiber connector.
> 
> <minor> I found the above sentence somewhat fragmented and hard to parse. Could
> it be rephrased for readability/clarity?

- [x] AP Dieter- text update:

```
   An OMS MCG traverses a sequence of optical elements between the ROADM
   function of two adjacent WDM-nodes as depicted in Figure 1 where the
   OMS MCG is terminated.  These elemts can be in transmit direction: a
   Booster Amplifier (BA), one or more fiber sections with in-line
   amplifiers (ILAs), and a Pre-Amplifier.  A concentrated loss element
   can be used to describe an insertion loss caused for example by a
   fiber connector along the sequence of optical elements.
```

> 
> 409 2.3.1.  Optical Tributary Signal (OTSi)
> 
> 411   The OTSi is defined in ITU-T Recommendation G.959.1, section 3.2.4
> 412   [G.959.1] as "Optical signal that is placed within a network media
> 413   channel for transport across the optical network.  This may consist
> 414   of a single modulated optical carrier or a group of modulated optical
> 415   carriers or subcarriers."  The YANG model defined below assumes that
> 
> <nit> How about a reference to the section instead of "below"? Or defined in
> this document? This usage of "below" or "above" happens in a lot more places 
> in this document - request to fix them all.

- [x] AP: Dieter

```
2.3.1.  Optical Tributary Signal (OTSi)

   The OTSi is defined in ITU-T Recommendation G.959.1, section 3.2.4
   [G.959.1] as "Optical signal that is placed within a network media
   channel for transport across the optical network.  This may consist
   of a single modulated optical carrier or a group of modulated optical
   carriers or subcarriers."  The YANG model defined in Section 4
   assumes that a single OTSi consists of a single modulated optical
   carrier.  This single modulated optical carrier conveys digital
   information.  Characteristics of the OTSi signal are modulation
   scheme (e.g. QPSK, 8-QAM, 16-QAM, etc.), baud rate (measure of the
   symbol rate), pulse shaping (e.g. raised cosine - complying with the
   Nyquist inter symbol interference criterion), etc.
```

> 
> 
> 743   transceivers.  A transceiver represents a transmitter/receiver (Tx/
> 744   Rx) pair as defined in ITU-T Recommendation G.698.2 [G.698.2].  In
> 745   addition to the transceiver, which is terminating an OTSi signal, a
> 746   transponder typically provides additional layer 1 functionality like
> 747   for example aggregation (multiplexing) of client layer signals, which
> 748   is outside the scope of this document addressing layer 0 aspects of
> 749   transponders.
> 
> <nit> Complex compound sentence that affects readability. Please consider
> splitting.
> 

- [x] AP:  Dieter - text update:

```
   A transponder is an optical equipment that sends and receives the
   optical signal from a DWDM network.  A transponder can have one or
   more transceiver modules.  A transceiver represents a transmitter and
   its corresponding receiver (Tx/Rx pair) as defined in ITU-T
   Recommendation G.698.2 [G.698.2].  In addition to the transceiver,
   which is terminating an OTSi signal, a transponder typically provides
   additional layer 1 functionality like for example aggregation
   (multiplexing) of client layer signals, which is outside the scope of
   this document addressing layer 0 aspects of transponders.
```

> 1106   Due to the fact that 3R regenerators are composed of an optical
> 1107   transponder pair, the capability whether an optical transponder can
> 1108   be used as a 3R regenerator is is added to the transponder
> 
> <nit> s/is is/is

- [x] AP: Dieter
- fixed

> 
> 1117   The supported-termination-type attribute describes whether the
> 1118   optical transponder can be used as tunnel terminating transponder
> 1119   only, as 3R regenerator only, or whether it can support both
> 1120   functions.  The supported-3r-mode attribute describes the
> 1121   configuration of the transponder pair forming the 3R regenerator as
> 1122   described above.
> 
> 1124   More text to be added here!
> 
> <major> Is there still something pending even after WGLC ? :-) 
> 

- [x] AP: Dieter: "More text to be added here!" removed

> 1126 2.8.  WSS/Filter
> 
> 1128   WSS separates the incoming light input spectrally as well as
> 1129   spatially, then chooses the wavelength that is of interest by
> 1130   deflecting it from the original optical path and then couple it to
> 
> <nit> perhaps "path, and finally couples it to" ?
> 

- [x] AP: Dieter - text update:

```
2.8.  Wavelength Selective Switch (WSS)/Filter

   A WSS separates the incoming light from an input port spectrally as
   well as spatially, then selects the wavelength that is of interest by
   deflecting it from the original optical path, and finally couples it
   to an outgoing optical fiber port.  The WSS/Filter is internal to a
   ROADM device.  This document does not model the internals of a
   ROADM's WSS.
```

> 
> 1182   The TE topology YANG model augmentations including optical
> 1183   impairments for DWDM networks defined below intend to cover all the 3
> 1184   categories of WDM-node architectures listed above.  In the case of a
> 
> <nit> Another instance of the use of "above" and "below". Can it please be avoided
> with reference to sections instead? Consider this ... if someone were to print
> the pages, there won't be technically a below or above.
> 

- [x] AP: Dieter - text update:

```
   The TE topology YANG model augmentations including optical
   impairments for DWDM networks defined in Section 4 intend to cover
   all the 3 categories of WDM-node architectures listed above.  In the
   case of a disaggregated WDM-node architecture, it is assumed that the
   optical domain controller already performs some form of abstraction
   and presents the WDM-TE-node representing the disaggregated WDM-node
   in the same way as an integrated WDM-TE-node with local optical
   transponders if the optical transponder subsystems and the add/drop
   subsystems are co-located (short fiber links are not imposing any
   significant optical impairments).
```

> 
> 1188   the same way as an integrated WDM-TE-node with local optical
> 1189   transponders if the optical transponder subsystems and the add/drop
> 1190   subsystems are collocated (short fiber links not imposing any
> 
> <nit>s/collocated/co-located

- [x] AP: Dieter
- fixed

> 
> 
> 1196   [Editor's note: The modeling of remote optical transponders located
> 1197   for example in the client device with a single channel link between
> 1198   the OT and the add/drop port of the WDM-TE-node requires further
> 1199   investigations and will be addressed in a future revision of this
> 1200   document.]
> 
> <major> Is there a future revision that is going to be produced after the WGLC?
> Consider rephrasing this and other similar instances to topics that are outside the
> scope of this document and (optionally, depending on the WG consensus) whether
> they would be tackled in other/future documents.
> 

- [x] AP: Dieter
- Editor's Note removed

> 
> 1261   [Editor's note: This will be addressed in a future revision of this
> 1262   document.  See Editor's note above.]
> 
> <major> Same as a previous comment


- [x] AP: all - this needs to be discussed.

> 
> 1289 2.10.3.  Disaggregated WDM-TE-node Subdivided into Degree, Add/Drop, and
> 1290         Optical Transponder Subsystems
> 
> 1292   Recently, some DWDM network operators started demanding WDM
> 
> <nit> The word "recently" does not age well in RFCs. Please consider
> rephrasing.
> 
> 1293   subsystems from their vendors.  An example is the OpenROADM project
> 
> <minor> Perhaps an informative URL reference would help?

- [x] AP: Dieter
- The word "recently" removed,
- Informative reference added:

```
   Some DWDM network operators are demanding WDM subsystems from their
   vendors.  An example is the OpenROADM project [OpenROADM] where
   multiple operators and vendors are developing related YANG models.
```

```
   [OpenROADM]
              "OpenROADM Multi-Source Agreement (MSA) -
              http://openroadm.org".
```

> 
> 1294   where multiple operators and vendors are developing related YANG
> 1295   models.  The subsystems of a disaggregated WDM-TE-node are:
> 
> 
> 1371   *  In-band cross-talk
> 
> 1373   *  Filtering effects (for further study)
> 
> <major> When it says "for further study", should it be included in this
> document or not?
> 2705     contact
> 2706       "WG Web: <https://datatracker.ietf.org/wg/ccamp/>
> 2707        WG List: <mailto:[ccamp@ietf.org](mailto:ccamp@ietf.org)>
> 
> 2709        Editor:   Young Lee <[younglee.tx@gmail.com](mailto:younglee.tx@gmail.com)>
> 2710        Editor:   Haomian Zheng <[zhenghaomian@huawei.com](mailto:zhenghaomian@huawei.com)>
> 2711        Editor:   Nicola Sambo <[nicosambo@gmail.com](mailto:nicosambo@gmail.com)>
> 2712        Editor:   Victor Lopez <[victor.lopez@nokia.com](mailto:victor.lopez@nokia.com)>
> 2713        Editor:   Gabriele Galimberti <[ggalimbe@cisco.com](mailto:ggalimbe@cisco.com)>
> 2714        Editor:   Giovanni Martinelli <[giomarti@cisco.com](mailto:giomarti@cisco.com)>
> 2715        Editor:   Jean-Luc Auge <[jeanluc.auge@orange.com](mailto:jeanluc.auge@orange.com)>
> 2716        Editor:   Le Rouzic Esther <[esther.lerouzic@orange.com](mailto:esther.lerouzic@orange.com)>
> 2717        Editor:   Julien Meuric <[julien.meuric@orange.com](mailto:julien.meuric@orange.com)>
> 2718        Editor:   Italo Busi <[Italo.Busi@huawei.com](mailto:Italo.Busi@huawei.com)>
> 2719        Editor:   Dieter Beller <[dieter.beller@nokia.com](mailto:dieter.beller@nokia.com)>
> 2720        Editor:   Sergio Belotti <[Sergio.belotti@nokia.com](mailto:Sergio.belotti@nokia.com)>
> 2721        Editor:   Griseri Enrico <[enrico.griseri@nokia.com](mailto:enrico.griseri@nokia.com)>
> 2722        Editor:   Gert Grammel <[ggrammel@juniper.net](mailto:ggrammel@juniper.net)>";
> 
> <minor> Please cross-check/review this list against the front page and additional
> authors listed in the document and their contact information for consistency.
> 
> 4469   The data nodes defined in this YANG module are not writable/
> 4470   creatable/deletable (i.e., "config true", which is the default) and
> 4471   are therefore only readable (i.e., config false).  Although the data
> 
> <minor> I found the above sentence confusing. Why not just state that this is
> read-only (i.e., config false) ?
> 
> 
> <EoRv18>

See: https://mailarchive.ietf.org/arch/msg/ccamp/2buexF32TFCCsvCQLx6oiQIMFJA/

Please be aware the the OTSi definition has been changed in the latest revision of G.807 and G.959.1

Given the impact to align our draft with the latest definitions is not minimal, we have previously decided to reference the previous versions of these Recommendations

Need to change my email address to: gabriele.galimberti@nokia.com

This issue is closed with PR #194 