Mohamed Boucadair's Discuss on draft-ietf-ccamp-optical-impairment-topology-yang-20

> Mohamed Boucadair has entered the following ballot position for
> draft-ietf-ccamp-optical-impairment-topology-yang-20: Discuss
> 
> When responding, please keep the subject line intact and reply to all email addresses included in the To and CC lines. (Feel free to cut this introductory paragraph, however.)
> 
> 
> Please refer to https://www.ietf.org/about/groups/iesg/statements/handling-ballot-positions/
> for more information about how to handle DISCUSS and COMMENT positions.
> 
> 
> The document, along with other ballot positions, can be found here:
> https://datatracker.ietf.org/doc/draft-ietf-ccamp-optical-impairment-topology-yang/
> 
> 
> 
> ----------------------------------------------------------------------
> DISCUSS:
> ----------------------------------------------------------------------
> 
> Hi Dieter, Esther, Sergio, Gabriele, and Italo,
> 
> Thank you for the effort put into this specification. Special thanks for the
> “tutorial” provided in Section 2. That's really helpful.
> 
> Please find below some DISCUSS/COMMENTs. Most are easy to fix. Let me know if
> ant clarification is needed.
> 
> # Compact encoding & large scale topologies
> 
> The module includes provisions for templating. However, there is still room to
> factorize among several nodes for the sake of compact large scale topologies.
> For example, the example data instance provided in the document has the
> following:
> 
> CURRENT:
>                  "roadm-path-impairments-set": [
>                      {
>                        "roadm-path-impairments-set-id": "1",
>                        "description": "Add path impairments from TTP 1 \
>    \or TTP 2 to any LTP",
> 
>                        "roadm-add-path": [
>                          {
>                            "frequency-range-id": 0,
>                            "frequency-range": {
>                                "lower-frequency": "191.3",
>                                "upper-frequency": "196.1"
>                            }
>                          }
>                        ]
>                      },
>                      {
>                        "roadm-path-impairments-set-id": "2",
>                         "description": "Add path impairments from TTP 3\
>    \ or TTP 4 to LTP1 or LTP3, thorugh AD1",
> 
>                        "roadm-add-path": [
>                          {
>                            "frequency-range-id": 0,
>                              "frequency-range": {
>                                "lower-frequency": "191.3",
>                                "upper-frequency": "196.1"
>                              }
>                          }
>                        ]
>                      },
>                      {
>                        "roadm-path-impairments-set-id": "3",
>                        "description": "Add path impairments from TTP 3 \
>    \or TTP 4 to LTP1 or LTP2, thorugh AD2",
> 
>                        "roadm-add-path": [
>                          {
>                            "frequency-range-id": 0,
>                            "frequency-range": {
>                                "lower-frequency": "191.3",
>                                "upper-frequency": "196.1"
>                            }
>                          }
>                        ]
>                      }
>                  ]
>              }
> 
> Did you consider how to factorize such case and similar (by defining the
> redundant data nodes once and then refer to it as appropriate)?
> 

Authors: It seems that the only thing that can be factorized is the frequency ranges. We are not sure there is a significant benefits for defining frequency range templates to be used within ROADM path impairments which are already templates (therefore already limited in number even in large scale networks). Moreover the impairments depend on bands, so that the frequency range is needed to identify which impairment to apply.

- [x] @sergiobelotti check the proposed reply with @EstherLerouzic and confirm or update if needed

> # Reusable template reference
> 
> The module points to templates in many places, while it is cleaner to define a
> reference typedef for reference purpose; including in future augmentations.
> 
>                    type leafref {
>                      path "../../../../../../../../oit:templates"
>                         + "/oit:explicit-transceiver-modes"
>                         + "/oit:explicit-transceiver-mode"
>                         + "/oit:explicit-transceiver-mode-id";
>                    }
> 

Authors: In general, we agree that it is cleaner to have a typedef for leafref data types providing absolute XPath references. In this case, the XPath references are relative and depends on where the leafref is defined. One option is to define more than one data type for different tree depths from the common ancestor (e.g., transceiver-mode-ref-8 in the example above) but using this option might be error-prone.

> # Security Template
> 
> Please update the document to follow the template
> https://datatracker.ietf.org/doc/html/draft-ietf-netmod-rfc8407bis-28#name-security-considerations-sect
> 

See #204 

> # Folding
> 
> CURRENT:
>    Line-folding as defined in [RFC8792] has been used for the JSON code
>    example below.
> 
> However, RFC8792 says the following:
> 
> ==
>    Text content that has been folded as specified by this strategy MUST
>    adhere to the following structure.
> 
> 7.1.1.  Header
> 
>    The header is two lines long.
> 
>    The first line is the following 36-character string; this string MAY
>    be surrounded by any number of printable characters.  This first line
>    cannot itself be folded.
> 
>    NOTE: '\' line wrapping per RFC 8792
> 
>    The second line is an empty line, containing only the end-of-line
>    character sequence.  This line provides visual separation for
>    readability.
> =
> 
> Please fix all your uses on the document to comply with that MUST.
> 
> Also, folding is used for the full tree but without including the folding
> convention. Please fix that as well.
> 

See #205

> # Broken Examples
> 
> Thanks for providing the appendices with the examples. However, these examples
> seem not to conform to the parent modules. For example, I do see many places
> where incorrect types are used.
> 
> For example, you have:
> 
>      "ietf-network:networks": {
>        "network": [
>          {
>            "network-id": "WDM-Network-1",
> 
> While network-id is defined as follows in RFC 8345:
> 
>      typedef network-id {
>        type inet:uri;
>        description
>          "Identifier for a network.  The precise structure of the
>           network-id will be up to the implementation.  The identifier
>           SHOULD be chosen such that the same network will always be
>           identified through the same identifier, even if the data model
>           is instantiated in separate datastores.  An implementation MAY
>           choose to capture semantics in the identifier -- for example,
>           to indicate the type of network.";
>      }
> 
> NEW:
> 
>      "ietf-network:networks": {
>        "network": [
>          {
>            "network-id": "example:WDM-Network-1",
> 
> The same issue applies for node-id such as in:
> 
> CURRENT:
>            "node": [
>              {
>                "node-id": "WDM-TE-Node-1",
> 
> Idem with tp-id such as in:
> 
> CURRENT:
>                  {
>                    "tp-id": "2",
> 
> or link-id, source-node, source-tp, e.g.,
> 
> CURRENT:
>            "ietf-network-topology:link": [
>              {
>                "link-id": "Add-Drop-Link-1-Forward",
>                "source": {
>                  "source-node": "WDM-TE-Node-1",
>                  "source-tp": "1"
>                },
> 
> Etc.
> 
> Please validate these examples using tools such yangson and yanglint.
> 

Authors: Fixed the URIs in the JSON examples and re-compiled with yanglint. The JSON examples were already compiled with yanglint but this issue is not checked by yanglint.

> # Many of G-* ITU-T specs listed in the document are normative
> 
> Please double check the classification of these.
> 

See #209 

> 
> ----------------------------------------------------------------------
> COMMENT:
> ----------------------------------------------------------------------
> 
> # YANG Model, YANG Data Model, and YANG Module
> 
> The use of “model” vs “module” through the document should be checked to be
> compliant with the guidance provided in
> https://datatracker.ietf.org/doc/html/draft-ietf-netmod-rfc8407bis-28#name-yang-data-model-vs-yang-mod
> 

See #200

Authors: Done when addressing Mike Bishop's comments

> # ACTN is an example architecture
> 
> The mention of ACTN architecture in the introduction smells like if the module
> can assumes ACTN, while this isn’t the case. It would move the ACTN mention and
> list as an example in Section 2.
> 

See #207

> # NMDA
> 
> CURRENT:
>    This document defines one YANG module: ietf-optical-impairment-
>    topology (Section 3) according to the new Network Management
>    Datastore Architecture [RFC8342].
> 
> Please note the new guidance in RFC8407bis is to mention it when there is major
> deviations.
> 

Authors: We will remove the second part of the sentence and just says "This document defines one YANG module: ietf-optical-impairment-topology (Section 3)."

- [ ] @dieterbeller removed the second part of the sentence about NMDA

> # (Unused) Terminology
> 
> Please check that all terms listed in Section 1.1 are used in the document. For
> example, I don’t see the following used.
> 
> CURRENT:
>    The following terms are defined in [RFC6241] and are not redefined
>    here:
> 
>    *  configuration data
> 
>    *  state data

- [ ] @dieterbeller 

> 
> # Consistent Notations
> 
> CURRENT:
>    BA (WDM-node 1) is the egress Amplifier and PA (WDM-node 2) is the
>    ingress amplifier for the OMS Media Channel Group (MCG) in the
>    direction from left to right in Figure 1.
> 
>  “WDM-node 1”/” WDM-node 2” does not match the nodes cited in the Figure.
>  Please fix that.
> 

- [ ]  @dieterbeller c/WDM-Node/WDM-node/ through all the document (including figures)

> # Long tree diagram
> 
> The long tree should be moved to an appendix per the guidance in 8407bis.
> 

- [ ]  @dieterbeller move section 3 to an Appendix 

> # Lack of Narrative text and tree snippets to walk through the model
> 

See #210

> # File name
> 
> CURRENT: <CODE BEGINS> file "ietf-optical-impairment-topology.yang"
> 
> Please update to follow this guidance:
> 
>    The "<CODE BEGINS>" tag MUST be followed by a string identifying the
>    file name specified in Section 5.2 of [RFC7950].  The name string
>    form that includes the revision date SHOULD be used.  The revision
>    date MUST match the date used in the most recent revision of the
>    module.
> 

- [ ] @dieterbeller please fix it

> # String type
> 
> The module uses string as type for nodes I expected that some values are
> already defined. For example:
> 
> CURRENT:
>          leaf type-variety {
>            type string;
>            mandatory true;
>            description
>              "Fiber type";
>          }
> 
> Any reason why this type is used rather than a structured types (identities,
> for example)?
> 

See #211

> # Meaningful descriptions
> 
> The module includes many description clauses that are not meaningful. Please
> consider elaborating this. Example of such uses is:
> 
> CURRENT:
>          leaf conn-in {
>            type l0-types:power-loss-or-unknown;
>            description
>              "connector-in";
> 

See #206

> # Do we really need this grouping? Why not simply use roadm-common-path?
> 
> CURRENT:
>      grouping roadm-express-path {
>        description
>          "The optical impairments of a ROADM express path.";
>        uses roadm-common-path;
>      } // grouping roadm-express-path
> 

Authors: Ok, we have removed this grouping

> # Uppercase Identifiers
> 
> Upper case is used for several identifiers in the module, including in an
> inconsistent manner. Please update as appropriate to comply with
> 
>    Only lowercase letters, numbers, and dashes SHOULD be used
>    in identifier names. Uppercase characters, the period character, and
>    the underscore character MAY be used if the identifier represents a
>    well-known value that uses these characters.
> 

Authors: We have not been able to find any identifier using uppercase letters in the -20 version. We have tried to fix them in one of the previous versions: could you please provide us an example of an uppercase identifier we might have missed?

> # Child identifiers
> 
> The document does not follow this guidance from 8407bis:
> 
>    Identifiers SHOULD include complete words and/or well-known acronyms
>    or abbreviations.  Child nodes within a container or list SHOULD NOT
>    replicate the parent identifier.  YANG identifiers are hierarchical
>    and are only meant to be unique within the set of sibling nodes
>    defined in the same module namespace.
> 
> For example, consider
> 
> OLD:
>        +--ro otsis!
>        |  +--ro otsi-group* [otsi-group-id]
>        |     +--ro otsi-group-id    string
>        |     +--ro otsi* [carrier-id]
>        |        +--ro carrier-id           uint16
>        |        +--ro carrier-frequency?   union
>        |        +--ro e2e-mc-path-id*      uint16
>        +--ro templates
>           +--ro roadm-path-impairments-sets
>           |  +--ro roadm-path-impairments-set*
>           |          [roadm-path-impairments-set-id]
> 
> NEW:
>        +--ro otsis!
>        |  +--ro otsi-group* [id]
>        |     +--ro id    string
>        |     +--ro otsi* [carrier-id]
>        |        +--ro carrier-id           uint16
>        |        +--ro carrier-frequency?   union
>        |        +--ro e2e-mc-path-id*      uint16
>        +--ro templates
>           +--ro roadm-path-impairments-sets
>           |  +--ro set*          [id]
> 
> There are many other such pattern in the document to be fixed.
> 

Authors: We think that using short identifiers like "id" may pose risks if data is exploited by humans during application development.
Please see also our reply to the WG LC YDR:
https://mailarchive.ietf.org/arch/msg/ccamp/30kKg5cEbtzOpY1Xme35rr796vE/

> # Configuration mention in a module with ro
> 
> For example, the module includes:
> 
>                enum 3r-or-tunnel {
>                  description
>                    "The transponder can be configure to be used either
>                     in an Optical Tunnel termination configuration or in
>                     a 3R configuration.";
> 
> which configuration are you referring to here?
> 
> Idem for similar use in the module.
> 

See #212

> # IANA
> 
> OLD:
>    name:      ietf-optical-impairment-topology
>    namespace: urn:ietf:params:xml:ns:yang:ietf-optical-impairment-
>    topology
>    prefix:    oit
>    reference: RFC XXXX (TDB)
> 
> NEW:
>    name:      ietf-optical-impairment-topology
>    namespace: urn:ietf:params:xml:ns:yang:ietf-optical-impairment-
>    topology
>    prefix:    oit
>    maintained by IANA? N
>    reference: RFC XXXX (TDB)
> 

Authors: Will fix

- [ ] @dieterbeller : updated as proposed by Med

> # The following are listed as normative, while they shouldn’t
> 
>    [RFC6241]  Enns, R., Ed., Bjorklund, M., Ed., Schoenwaelder, J., Ed.,
>               and A. Bierman, Ed., "Network Configuration Protocol
>               (NETCONF)", RFC 6241, DOI 10.17487/RFC6241, June 2011,
>               <https://www.rfc-editor.org/info/rfc6241>.
> 

Authors: Moved to Informative

- [ ] @dieterbeller removed reference to RFC6241 from the terminology section (configuration data and state date terms are not used in the document) and move this reference to Informative

>    [RFC6242]  Wasserman, M., "Using the NETCONF Protocol over Secure
>               Shell (SSH)", RFC 6242, DOI 10.17487/RFC6242, June 2011,
>               <https://www.rfc-editor.org/info/rfc6242>.
> 

Authors: removed since no longer referenced

- [ ] @dieterbeller removed reference to RFC6242 since no longer referenced in the security considerations (see #204)

>    [RFC8040]  Bierman, A., Bjorklund, M., and K. Watsen, "RESTCONF
>               Protocol", RFC 8040, DOI 10.17487/RFC8040, January 2017,
>               <https://www.rfc-editor.org/info/rfc8040>.
> 

Authors: Moved to Informative

- [ ] @dieterbeller move this reference to Informative

>    [RFC8446]  Rescorla, E., "The Transport Layer Security (TLS) Protocol
>               Version 1.3", RFC 8446, DOI 10.17487/RFC8446, August 2018,
>               <https://www.rfc-editor.org/info/rfc8446>.
> 

Authors: Moved to Informative

- [ ] @dieterbeller move this reference to Informative

> Please double check the classification of your references.
> 
> Cheers,
> Med

See: https://mailarchive.ietf.org/arch/msg/ccamp/q1PeAMRd3pzg561A8wXJXAVu5Lc/


18/11/25
AP to Italo/Sergio to go through the comments and provide answers for YANG .

for the question Compact encoding & large scale topologies

"Authors: It seems that the only thing that can be factorized is the frequency ranges. We are not sure there is a significant benefits for defining frequency range templates to be used within ROADM path impairments which are already templates (therefore already limited in number even in large scale networks). "

I would add:
Moreover the impairments depend on bands, so that the frequence range is needed o identify which impairment to apply.