Mike Bishop's No Objection on draft-ietf-ccamp-optical-impairment-topology-yang-20

> Mike Bishop has entered the following ballot position for
> draft-ietf-ccamp-optical-impairment-topology-yang-20: No Objection
> 
> When responding, please keep the subject line intact and reply to all email addresses included in the To and CC lines. (Feel free to cut this introductory paragraph, however.)
> 
> 
> Please refer to https://www.ietf.org/about/groups/iesg/statements/handling-ballot-positions/
> for more information about how to handle DISCUSS and COMMENT positions.
> 
> 
> The document, along with other ballot positions, can be found here:
> https://datatracker.ietf.org/doc/draft-ietf-ccamp-optical-impairment-topology-yang/
> 
> 
> 
> ----------------------------------------------------------------------
> COMMENT:
> ----------------------------------------------------------------------
> 
> This is not my area of expertise, so feel free to chalk any of these up to my
> unfamiliarity with the area.
> 
> Thanks for a good introduction and terminology section with lots of references
> to where you're getting relevant terms. There are a few acronyms it would be
> nice to expand on first use and possibly reference specifically from
> Terminology if appropriate -- "TE topology" in the abstract, plus "DWDM",
> "OMS", and "OTS" in the main document.

- "TE" expanded:
```
   This document provides a YANG data model for the impairment-aware
   traffic engineering topology (TE topology) in optical networks.
```

- "DWDM" expanded:
```
   The model in this document does not provide device configuration
   capabilities.  Where those capabilities are needed, a device model as
   defined in [RFC8969] can be used; [I-D.ietf-ccamp-dwdm-if-param-yang]
   defines such a model for DWDM interfaces (DWDM = dense wavelength
   division multiplexing).
```

- "OMS" - expanded:
```
   BA (WDM-node 1) is the egress Amplifier and PA (WDM-node 2) is the
   ingress amplifier for the Optical Multiplex Section Media Channel
   Group (OMS MCG) [G.807] in the direction from left to right in
   Figure 1.
```

- "OTS" - spelled out when the acronym appears the first time:
```
   According to [G.807], an Optical Transmission Section Media Channel
   Group (OTS MCG) represents a topological construct between two
   adjacent amplifiers, such as:
```

> 
> Throughout, consider whether "optical impairment-aware" should be
> "optical-impairment-aware" so it's clear that "optical" describes the
> impairment, rather than the thing which is impairment-aware.
> 

- [x] AP (all): discussion needed
Conclusion: change "optical impairment-aware" to "impairment-aware ... for optical networks" depending on the context where the term was used.
Example: "impairment-aware TE-topology YANG data model for optical networks" instead of  "optical impairment-aware TE-topology YANG data model"

Examples:
```
2.1.  Scope of this document

   The impairment-aware topology YANG model for optical networks defined
   in this document is a network model as defined in [RFC8969] and is
   applicable to devices and network controllers.  The topology model
   provides read-only network topology status information that is
   typically used for path computation during service provisioning when
   a new service is established on the network.
```

```
2.2.  Optical Transport Network Data Plane

   This section provides a description of the optical transport network
   reference architecture and its relevant components and their optical
   impairments needed to support impairment-aware path computation.
```

> In 2.1, it's not clear to me how the DWDM model (an informative reference!) is
> relevant and/or non-normative. Should this be something like "The model in this
> document does not provide device configuration capabilities. Where those
> capabilities are needed, a device model as defined in RFC8969 can be used;
> [I-D....] defines such a model for DWDM interfaces."
> 

Updated paragraph as suggested:
```
   The model in this document does not provide device configuration
   capabilities.  Where those capabilities are needed, a device model as
   defined in [RFC8969] can be used; [I-D.ietf-ccamp-dwdm-if-param-yang]
   defines such a model for DWDM interfaces (DWDM = dense wavelength
   division multiplexing).
```

> Please verify the use of "model" versus "module" throughout.

- [x] AP (all): discussion needed --> outcome: the authors agreed that the term "module" is used correctly except for the security section. @italobusi will check whether the security section will have to be updated based on the template in RFC 8407-bis (see AP below).
- [x] AP: @italobusi to check the template in RFC 8407-bis (issue #204)

Here is my investigation result:

Search result for "YANG module" in draft-ietf-ccamp-optical-impairment-topology-yang-20.txt:

```
Search "YANG module" in draft-ietf-ccamp-optical-impairment-topology-yang-20.txt (10 hits):
	Line  201:    This document defines one YANG module: ietf-optical-impairment-
	Line  308:      | Prefix   | YANG module         | Reference                    |
	Line  323:               Table 1: Prefixes and corresponding YANG modules
	Line 3518:         This version of this YANG module is part of RFC XXXX; see
	Line 5498:    The YANG module specified in this document defines a schema for data
	Line 5511:    The YANG module specified in this document imports the ietf-network
	Line 5516:    considerations from [RFC8345] also apply to the YANG module defined
	Line 5519:    The data nodes defined in this YANG module are not writable/
	Line 5590:    This document registers the following YANG modules in the YANG Module
```
[DB]> The term module or modules above appears to be OK as it refers to the YANG code defining a module in YANG:
`module ietf-optical-impairment-topology { ...`

[DB]> Everywhere else, the term "YANG model" is used.
[DB]> My conclusion and preference: keep as is.

> 
> ===NITS FOLLOW===
> 
> All in Section 1:
> 
> - "Yang" => "YANG" (Also in Section 4)

Changed as suggested

> - "model, which" => "model that"

Changed as suggested

> - "is providing" => "provides"

Changed as suggested

> 
> 

See: https://mailarchive.ietf.org/arch/msg/ccamp/SMGf8CVAP4QAJbxGZkE4SWKmc04/