Update Security Considerations

@all : First draft of the security section. Work is on-going .
[security-OI-Topology.docx](https://github.com/ietf-ccamp-wg/draft-ietf-ccamp-optical-impairment-topology-yang/files/13426480/security-OI-Topology.docx)


Hi All, 

Pleased find the suggested updates to the Security Considerations section. We can discuss on our next call.

[security-OI-Topology v1.docx](https://github.com/ietf-ccamp-wg/draft-ietf-ccamp-optical-impairment-topology-yang/files/13640706/security-OI-Topology.v1.docx)


> Hi All,
> 
> Pleased find the suggested updates to the Security Considerations section. We can discuss on our next call.
> 
> [security-OI-Topology v1.docx](https://github.com/ietf-ccamp-wg/draft-ietf-ccamp-optical-impairment-topology-yang/files/13640706/security-OI-Topology.v1.docx)

@danielkinguk : thanks Dan for contribution. 

Added reference to RFC8795 in the text. New version is uploaded. Still pending conclusion about the problem related to RW vs RO data nodes. Will follow official MoM link.
[security-OI-Topology.v2.docx](https://github.com/ietf-ccamp-wg/draft-ietf-ccamp-optical-impairment-topology-yang/files/13888934/security-OI-Topology.v2.docx)


The proposed text provided in [security-OI-Topology.v2.docx](https://github.com/ietf-ccamp-wg/draft-ietf-ccamp-optical-impairment-topology-yang/files/13888934/security-OI-Topology.v2.docx) (see https://github.com/ietf-ccamp-wg/draft-ietf-ccamp-optical-impairment-topology-yang/issues/145#issuecomment-1884952626 above) has been incorporated into our I-D as follows:

```
5.  Security Considerations

   The YANG module specified in this document defines a schema for data
   that is designed to be accessed via network management protocols such
   as NETCONF [RFC6241] or RESTCONF [RFC8040].  The lowest NETCONF layer
   is the secure transport layer, and the mandatory-to-implement secure
   transport is Secure Shell (SSH) [RFC6242].  The lowest RESTCONF layer
   is HTTPS, and the mandatory-to-implement secure transport is TLS
   [RFC8446].

   The Network Configuration Access Control Model (NACM) [RFC8341]
   provides the means to restrict access for particular NETCONF or
   RESTCONF users to a preconfigured subset of all available NETCONF or
   RESTCONF protocol operations and content.

   The YANG module specified in this document imports the ietf-network
   and ietf-network-topology models defined in [RFC8345].  This YANG
   module augments te-topology defined in [RFC8795] and consequently
   inherits te-topology subtrees and data nodes and their potential
   sensitivities and vulnerabilities.  Therefore, the security
   considerations from [RFC8345] also apply to the YANG module defined
   in this document.

   The data nodes in this YANG module are not writable nor creatable nor
   deletable (i.e., config true; the data nodes are readable only (i.e.,
   config false, which is the default).  Although the data nodes are not
   susceptible to write operations or attacks (e.g., edit-config),
   network information may be exposed using read access (e.g., get, get-
   config, or notification) operations.  Thus, controlling read access
   to specific data nodes containing sensitive or vulnerable information
   is important.  Below are the specific subtrees, data nodes and
   subsequent sensitivity/vulnerability:

   /nw:networks/nw:network/nw:network-types/tet:te-topology
      Unauthorized access to this subtree can disclose the TE topology
      type.

   /nw:networks/tet:te
      Unauthorized access to this subtree can disclose the TE node
      templates and TE link templates.

   /nw:networks/nw:network
      Unauthorized access to this subtree can disclose the topology-wide
      configurations, including the TE topology ID, the topology-wide
      policies, and the topology geolocation.

   /nw:networks/nw:network/nw:node
      Unauthorized access to this subtree can disclose the operational
      state information of TE nodes.

   /nw:networks/nw:network/nt:link/tet:te
      Unauthorized access to this subtree can disclose the operational
      state information of TE links.

   /nw:networks/nw:network/nw:node/nt:termination-point
      Unauthorized access to this subtree can disclose the operational
      state information of TE link termination points.

   /nw:networks/nw:network/nt:link/tet:te/tet:te-link-attributes
      Unauthorized access to this subtree can disclose the operational
      state information of TE link attributes.

   /nw:networks/nw:network/nw:node/tet:te/tet:tunnel-termination-
   point
      Unauthorized access to this subtree can disclose the operational
      state information of TE link tunnel termination points.

   /nw:networks/nw:network/nw:node/tet:te/tet:te-node-attributes
      Unauthorized access to this subtree can disclose the operational
      state information of TE node attributes.
```

@sergiobelotti , @danielkinguk , @italobusi : please check!

Comment from Italo: https://github.com/ietf-ccamp-wg/draft-ietf-ccamp-optical-impairment-topology-yang/pull/170#discussion_r1511415728


This is updated text related to section 5 on Security consideration, taking into account comments from Italo  https://github.com/ietf-ccamp-wg/draft-ietf-ccamp-optical-impairment-topology-yang/pull/170#discussion_r1511415728
```
The YANG module specified in this document defines a schema for data
   that is designed to be accessed via network management protocols such
   as NETCONF [RFC6241] or RESTCONF [RFC8040].  The lowest NETCONF layer
   is the secure transport layer, and the mandatory-to-implement secure
   transport is Secure Shell (SSH) [RFC6242].  The lowest RESTCONF layer
   is HTTPS, and the mandatory-to-implement secure transport is TLS
   [RFC8446].

   The Network Configuration Access Control Model (NACM) [RFC8341]
   provides the means to restrict access for particular NETCONF or
   RESTCONF users to a preconfigured subset of all available NETCONF or
   RESTCONF protocol operations and content.

   The YANG module specified in this document imports the ietf-network
   and ietf-network-topology models defined in [RFC8345].  This YANG
   module augments te-topology defined in [RFC8795] and consequently
   inherits te-topology subtrees and data nodes and their potential
   sensitivities and vulnerabilities.  Therefore, the security
   considerations from [RFC8345] also apply to the YANG module defined
   in this document.

   The data nodes in this YANG module are not writable nor creatable
   nor deletable (i.e., config true) the data nodes are readable only
   (i.e., config false, which is the default). Although the data nodes
   are not susceptible to write operations or attacks
   (e.g., edit-config), network information may be exposed using read
   access (e.g., get, get-config, or notification) operations. Thus,
   controlling read access to specific data nodes containing sensitive
   or vulnerable information is important. Below are the specific
   subtrees, data nodes and subsequent sensitivity/vulnerability:

   /nw:networks/nw:network/nw:network-types/tet:te-topology
      Unauthorized access to this subtree can disclose the TE topology
      type.

   /nw:networks/tet:te
      Unauthorized access to this subtree can disclose the TE node
      templates and TE link templates.

   /nw:networks/nw:network
      Unauthorized access to this subtree can disclose the topology-wide
      configurations, including the TE topology ID, the topology-wide
      policies, and the topology geolocation.

   /nw:networks/nw:network/nw:node
      Unauthorized access to this subtree can disclose the operational
      state information of TE nodes.

   /nw:networks/nw:network/nt:link/tet:te
      Unauthorized access to this subtree can disclose the operational
      state information of TE links.

   /nw:networks/nw:network/nw:node/nt:termination-point
      Unauthorized access to this subtree can disclose the operational
      state information of TE link termination points.

   /nw:networks/nw:network/nt:link/tet:te/tet:te-link-attributes
      Unauthorized access to this subtree can disclose the operational
      state information of TE link attributes.

   /nw:networks/nw:network/nw:node/tet:te/tet:tunnel-termination-
   point
      Unauthorized access to this subtree can disclose the operational
      state information of TE link tunnel termination points.

   /nw:networks/nw:network/nw:node/tet:te/tet:te-node-attributes
      Unauthorized access to this subtree can disclose the operational
      state information of TE node attributes.
```

The xml file is updated in my local repository (not committed yet) as per [comment](https://github.com/ietf-ccamp-wg/draft-ietf-ccamp-optical-impairment-topology-yang/issues/145#issuecomment-2068975372) from @sergiobelotti  above.

From weekly call on April 23:
Italo is fine with the proposed text but suggested to follow the suggestion that OTN topology model got during SECDIR review related to the part of security consideration in common with RFC8795.
Since we also have with RFC8795 part of the text in common, Italo will provide here a comment with pointer to the SECDIR review.

See the mail thread about the security considerations for OTN topology model:

https://mailarchive.ietf.org/arch/msg/ccamp/35Eb2phB7T207LNcnj6HQX4lxPI/


Replaced:

```
   The data nodes in this YANG module are not writable nor creatable
   nor deletable (i.e., config true) the data nodes are readable only
   (i.e., config false, which is the default). Although the data nodes
   are not susceptible to write operations or attacks
   (e.g., edit-config), network information may be exposed using read
   access (e.g., get, get-config, or notification) operations. Thus,
   controlling read access to specific data nodes containing sensitive
   or vulnerable information is important. Below are the specific
   subtrees, data nodes and subsequent sensitivity/vulnerability:
```

with:

```
   Additionally, some data nodes accessible for reading might be
   considered sensitive or prone to vulnerabilities as they expose
   network topology information, which may be confidential information
   for some operators.  Therefore, it is critical to manage access to
   these readable nodes carefully (for instance, through "get", "get-
   config", or "notification" commands) to safeguard them.

   These are the subtrees and data nodes and their sensitivity/
   vulnerability:
```
aligned with [draft-ietf-ccamp-otn-topo-yang-18](https://datatracker.ietf.org/doc/html/draft-ietf-ccamp-otn-topo-yang-18)

@italobusi , please comment - changes above are not committed yet.

The issue is solved and closed with commit #https://github.com/ietf-ccamp-wg/draft-ietf-ccamp-optical-impairment-topology-yang/commit/34f2dd92f9418a87c9a62f4ffe96c8a38c4cb5f4