Mahesh Jethanandani's Discuss on draft-ietf-ccamp-optical-impairment-topology-yang-20

> Mahesh Jethanandani has entered the following ballot position for
> draft-ietf-ccamp-optical-impairment-topology-yang-20: Discuss
> 
> When responding, please keep the subject line intact and reply to all email addresses included in the To and CC lines. (Feel free to cut this introductory paragraph, however.)
> 
> 
> Please refer to https://www.ietf.org/about/groups/iesg/statements/handling-ballot-positions/
> for more information about how to handle DISCUSS and COMMENT positions.
> 
> 
> The document, along with other ballot positions, can be found here:
> https://datatracker.ietf.org/doc/draft-ietf-ccamp-optical-impairment-topology-yang/
> 
> 
> 
> ----------------------------------------------------------------------
> DISCUSS:
> ----------------------------------------------------------------------
> 
> Section 4, paragraph 0
> >    <CODE BEGINS> file "ietf-optical-impairment-topology.yang"
> >    module ietf-optical-impairment-topology {
> >      yang-version 1.1;
> >      namespace "urn:ietf:params:xml"
> >              + ":ns:yang:ietf-optical-impairment-topology";
> >      prefix oit;
> 
> There are a couple of issues with this module.
> - There is no date (or revision) in the name of the file. Please add one.
> - The model does not validate for me using either pyang or yanglint. I could be
> doing something wrong, but here is what I am using. The bin directory has all
> the latest modules as maintained by IANA.
> 
> $ yanglint -p bin/yang-parameters/ ietf-optical-impairment-topology.yang
> libyang err : Grouping "l0-types:frequency-range-with-identifier" referenced by
> a uses statement not found. (Path
> "/ietf-optical-impairment-topology:{grouping='amplifier-params'}/amplifier/operational/amplifier-element/{uses='l0-types:frequency-range-with-identifier'}".)
> YANGLINT[E]: Parsing schema module "ietf-optical-impairment-topology.yang"
> failed.
> 
> $ pyang --ietf -p bin/yang-parameters/ ietf-optical-impairment-topology.yang
> ietf-optical-impairment-topology.yang:1281 (at
> ietf-optical-impairment-topology.yang:132): error: the key "frequency-range-id"
> does not reference an existing leaf ietf-optical-impairment-topology.yang:139:
> error: grouping "frequency-range-with-identifier" not found in module
> "ietf-layer0-types" <snip>
> 
> Separately, please list all the RFCs whose modules are imported in the document
> at the begining of the section, and outise the <CODE BEGINS> block so they can
> be normatively referenced.
> 
> Section 4, paragraph 4
> >         Editor:   Young Lee <[younglee.tx@gmail.com](mailto:younglee.tx@gmail.com)>
> >         Editor:   Haomian Zheng <[zhenghaomian@huawei.com](mailto:zhenghaomian@huawei.com)>
> >         Editor:   Nicola Sambo <[nicosambo@gmail.com](mailto:nicosambo@gmail.com)>
> >         Editor:   Victor Lopez <[victor.lopez@nokia.com](mailto:victor.lopez@nokia.com)>
> >         Editor:   Gabriele Galimberti <[gabriele.galimberti@nokia.com](mailto:gabriele.galimberti@nokia.com)>
> >         Editor:   Giovanni Martinelli <[giomarti@cisco.com](mailto:giomarti@cisco.com)>
> >         Editor:   Jean-Luc Auge <[jeanluc.auge@orange.com](mailto:jeanluc.auge@orange.com)>
> >         Editor:   Le Rouzic Esther <[esther.lerouzic@orange.com](mailto:esther.lerouzic@orange.com)>
> >         Editor:   Julien Meuric <[julien.meuric@orange.com](mailto:julien.meuric@orange.com)>
> >         Editor:   Italo Busi <[Italo.Busi@huawei.com](mailto:Italo.Busi@huawei.com)>
> >         Editor:   Dieter Beller <[dieter.beller@nokia.com](mailto:dieter.beller@nokia.com)>
> >         Editor:   Sergio Belotti <[Sergio.belotti@nokia.com](mailto:Sergio.belotti@nokia.com)>
> >         Editor:   Griseri Enrico <[enrico.griseri@nokia.com](mailto:enrico.griseri@nokia.com)>
> >         Editor:   Gert Grammel <[ggrammel@juniper.net](mailto:ggrammel@juniper.net)>";
> 
> How come the document has 5 authors but 14 editors?
> 
> Section 4, paragraph 14
> >                  case channel-power {
> >                    leaf nominal-carrier-power {
> >                      type l0-types:power-dbm-or-unknown;
> >                      mandatory true;
> >                      description
> >                        "Reference channel power.";
> >                    }
> >                  }
> >                  case power-spectral-density {
> >                    leaf nominal-psd {
> >                      type l0-types:psd-or-unknown;
> >                      mandatory true;
> >                      description
> >                        "Reference power spectral density (PSD).";
> >                    }
> >                  }
> >                }
> 
> You cannot have both cases of the choice statement be mandatory true, as only
> one of them is valid at any time. If the idea is that the choice of power-param
> is mandatory, which you have already set to mandatory true, you do not need to
> have a mandatory true statement in each case statement.
> 
> This setting of mandatory parameters gets even more egregious further below.
> Please articulate which parameters are actually mandatory.
> 
> 
> ----------------------------------------------------------------------
> COMMENT:
> ----------------------------------------------------------------------
> 
> "Abstract", paragraph 1
> >    This document provides a YANG data model for the impairment-aware TE
> >    topology in optical networks.
> 
> The Shepherd's Report template asks whether the document is "is needed, clearly
> written, complete, correctly designed, and ready to be handed off to the
> responsible Area Director? To which the response is "Yes, the WG has been
> working on it for a long time. This work is ready to be handed off to AD." The
> fact that the document has been worked upon for several years does not mean it
> is ready to be handed off to the AD. :-) This is a side note, and no action is
> expected.
> 
> Section 1, paragraph 0
> >    In order to provision an optical connection (an optical path) through
> >    a wavelength switched optical networks (WSONs) as defined in
> >    [RFC9094] or spectrum switched optical networks (SSONs), a
> >    combination of path continuity, resource availability, and impairment
> >    constraints must be met to determine viable and optimal paths through
> >    the network.  The determination of appropriate paths is known as
> >    Impairment-Aware Routing and Wavelength Assignment (IA-RWA) [RFC6566]
> >    for WSON, while it is known as IA-Routing and Spectrum Assigment (IA-
> >    RSA) for SSON.
> 
> This is almost an exact copy of the Abstract, except maybe for the references.
> Those RFC numbers could have been added in the Abstract (without the square
> brackets), and this paragraph could be removed. Otherwise, please reword to
> explain the abstract a little more.
> 
> Section 1, paragraph 1
> >    This document provides a YANG data model for the impairment-aware
> >    Traffic Engineering (TE) topology in WSONs and SSONs.  The YANG model
> >    described in this document is a WSON/SSON technology-specific Yang
> >    model based on the information model developed in [RFC7446] and the
> >    two encoding documents [RFC7581] and [RFC7579] that developed
> >    protocol independent encodings based on [RFC7446].
> 
> Is this a YANG 1.1 or a 1.0 model? Also, please be consistent in the use of
> YANG (it should be all caps).
> 
> Section 1, paragraph 1
> >    The intent of this document is to provide a YANG data model, which
> >    can be utilized by a Multi-Domain Service Coordinator (MDSC) to
> >    collect WSON impairment data from the Provisioning Network
> >    Controllers (PNCs) to enable impairment-aware optical path
> >    computation according to the ACTN Architecture [RFC8453].  The
> >    communication between controllers is done via a NETCONF [RFC8341] or
> >    a RESTCONF interface.  [RFC8040].
> 
> RFC8341 is not NETCONF. Please correct the reference.
> 
> Section 1, paragraph 1
> >    It is worth noting that optical data plane interoperability is a
> >    complex topic especially in a multi-vendor environment and usually
> >    requires joint engineering, which is independent from control plane
> >    and management plane capabilities.  The YANG data model defined in
> >    this document is providing sufficient information to enable optical
> >    impairment-aware path computation.
> 
> I am not clear on the purpose of this paragraph. The last sentence is the only
> useful information, but even that is a repeat of from the
> Abstract/Introduction. Please remove.
> 
> Section 1, paragraph 1
> >    This document augments the generic TE topology YANG model defined in
> >    [RFC8795] where possible.
> 
> ... And what happens to the model where it cannot augment the generic TE
> topology?
> 
> Section 1, paragraph 1
> >    The optical impairment-aware topology for a WSON/SSON network based
> >    on the YANG data model defined in this document is intended to be
> >    used for exposing the network topology including optical impairments.
> >    Therefore, the topology information that is typically provided by a
> >    PNC is assumed to be read-only data, i.e., not configurable (read-
> >    write).  This may change when the same optical impairment-aware
> >    topology model is used for other use cases than exposing the network
> >    topology.  E.g., for a path computation engine, where topological
> >    elements could be added in the context of a what-if scenario
> >    analysis.  This is outside of the scope of this document.
> 
> The sentence "is assumed to be read-only data, i.e., not configurable
> (read-write) is confusing. Please remove everything after "read-only data".
> 
> Section 1, paragraph 1
> >    This document defines one YANG module: ietf-optical-impairment-
> >    topology (Section 3) according to the new Network Management
> >    Datastore Architecture [RFC8342].
> 
> Drop the word new in the sentence. There is no "new" NMDA.
> 
> Section 2.1, paragraph 1
> >    The optical impairment-aware topology YANG model defined in this
> >    document is a network model as defined in [RFC8969] and is applicable
> >    to devices and network controllers.  The topology model provides
> >    read-only network topology status information that is typically used
> >    for path computation during service provisioning when a new service
> >    is established on the network.
> >
> >    The DWDM interface YANG model defined in
> >    [I-D.ietf-ccamp-dwdm-if-param-yang] is a device model as defined in
> >    [RFC8969] (a DWDM interface management model to be precise) and is
> >    intended to be used for device configuration.
> 
> This section sounded promising as it described the scope of the YANG module. I
> believe it is key to understanding the model, and I would encourage the authors
> to explain it further, preferably with a diagram that explains the relationship
> between the different models in question. For example, it started by saying
> earlier in the document that "which can be utilized by a Multi-Domain Service
> Coordinator (MDSC) to collect WSON impairment data from the Provisioning
> Network Controllers (PNCs) to enable impairment-aware optical path computation
> according to the ACTN Architecture [RFC8453]." That sounds like a network
> model. But it confused me by saying that it is applicable to devices AND
> network controllers. What is not clear is how it is applicable. Applicable, as
> in implemented for a device and a network controller? Applicable because the
> network model collects the data from the devices? If the latter, the sentence
> above needs to be clear.
> 
> Section 3, paragraph 0
> >    module: ietf-optical-impairment-topology
> 
> This (rather complete) tree diagram should be moved into the Appendix, and the
> section should be replaced with relevant snippets that tie to all the
> technology details provided above. Otherwise, a big tree diagram is useless in
> helping anyone understand the relationship between the technology and the
> design of the module.
> 
> Section 4, paragraph 13
> >        container amplifier {
> >          description
> >            "Amplifier type, operational parameters are described.";
> >          leaf type-variety {
> >            type string;
> >            mandatory true;
> >            description
> >              "String identifier of amplifier type referencing
> >               a specification in a separate equipment catalog";
> >          }
> 
> An "operational parameter" in YANG is a read-only variable, which this does not
> seem to be. Can this be reworded or removed?
> 
> Section 4, paragraph 16
> >          leaf total-loss {
> >            type l0-types:power-loss-or-unknown;
> >            description
> >              "The measured total loss of the fiber, which includes
> >               all possible losses: fiber loss and conn-in and conn-out
> >               losses.
> >
> >               This attribute is not present when the total loss cannot
> >               be measured.";
> >          }
> 
> If this is a measured value, then it is not configurable, in which case it
> should be 'config false'. The same seems to be true for nodes below. Suggest
> authors examine it for read-only capability.
> 
> Also, what does it mean for the attribute to be "not present"? How do you make
> sure the node is "not present"?
> 
> At this point, I stopped my review as the model has way too many issues. I
> would suggest that this document should undergo another YANG Doctors review
> before it is brought back for IESG review.
> 
> Section 5, paragraph 0
> >    The YANG module specified in this document defines a schema for data
> >    that is designed to be accessed via network management protocols such
> >    as NETCONF [RFC6241] or RESTCONF [RFC8040].  The lowest NETCONF layer
> >    is the secure transport layer, and the mandatory-to-implement secure
> >    transport is Secure Shell (SSH) [RFC6242].  The lowest RESTCONF layer
> >    is HTTPS, and the mandatory-to-implement secure transport is TLS
> >    [RFC8446].
> 
> Please update this template as described in rfc8407bis.
> 
> -------------------------------------------------------------------------------
> NIT
> -------------------------------------------------------------------------------
> 
> All comments below are about very minor potential issues that you may choose to
> address in some way - or ignore - as you see fit. Some were flagged by
> automated tools (via https://github.com/larseggert/ietf-reviewtool), so there
> will likely be some false positives. There is no need to let me know what you
> did with these suggestions.
> 
> Section 2.3.4, paragraph 1
> > n amplifiers are widely used. Raman amplifiers have become attractive due to
> >                               ^^^^^^^^^^^^^^^^
> The genitive ('s) may be missing.
> 
> Section 2.3.4, paragraph 2
> > ly more expensive than EDFAs. Raman amplifiers are distributed amplifiers whe
> >                               ^^^^^^^^^^^^^^^^
> The genitive ('s) may be missing.
> 
> Section 2.4, paragraph 3
> > on the egress side, which allows to control the optical power of the WDM out
> >                                  ^^^^^^^^^^
> Did you mean "controlling"? Or maybe you should add a pronoun? In active voice,
> "allow" + "to" takes an object, usually a pronoun.
> 
> Section 2.4, paragraph 12
> > mic Gain Equalizer (DGE) is an optical equipment that is capable of adjusting
> >                             ^^^^^^^^^^^^^^^^^^^^
> Uncountable nouns are usually not used with an indefinite article. Use simply
> "optical equipment".
> 
> Section 2.4, paragraph 12
> > adjusting the optical power on a per channel basis in order to compensate the
> >                                  ^^^^^^^^^^^
> In this context, "per-channel" forms an adjective and is spelled with a hyphen.
> 
> Section 2.4, paragraph 13
> > sponders A transponder is an optical equipment that sends and receives the o
> >                           ^^^^^^^^^^^^^^^^^^^^
> Uncountable nouns are usually not used with an indefinite article. Use simply
> "optical equipment".
> 
> Section 2.6.1, paragraph 4
> > dence. This should, however, only be an done in exceptional cases and should
> >                                      ^^
> Use "a" instead of "an" if the following word doesn't start with a vowel sound,
> e.g. "a sentence", "a university".
> 
> Section 2.6.2, paragraph 3
> > t Modes The explicit mode allows to encode, explicitly, any subset of parame
> >                                  ^^^^^^^^^
> Did you mean "encoding"? Or maybe you should add a pronoun? In active voice,
> "allow" + "to" takes an object, usually a pronoun.
> 
> Section 2.6.2, paragraph 3
> > ers e.g., FEC type, Modulation type, etc, to enable a controller entity to ch
> >                                      ^^^
> A period is needed after the abbreviation "etc.".
> 
> Section 2.6.4, paragraph 16
> > n and each transceiver is operated in an uni-directional mode. Implementation
> >                                       ^^
> Use "a" instead of "an" if the following word doesn't start with a vowel sound,
> e.g. "a sentence", "a university".
> 
> Section 2.7, paragraph 3
> > elects the wavelength that is of interest by deflecting it from the original
> >                                  ^^^^^^^^^^^
> The usual collocation for "interest" is "in", not "by".
> 
> Section 2.10.3, paragraph 5
> > protection architecture requires dedicated photonic protection functions in
> >                                  ^^^^^^^^^
> The double modal "requires dedicated" is nonstandard (only accepted in certain
> dialects). Consider "to be dedicated".
> 
> Section 2.11.1.2, paragraph 7
> > case the optical impairments of the worse of the two underlying TE-links shal
> >                                     ^^^^^
> "Worst" seems more likely than "worse" in this context.
> 
> Section 2.11.2, paragraph 4
> > d on the optical impairments of the worse of the two underlying physical OMS
> >                                     ^^^^^
> "Worst" seems more likely than "worse" in this context.
> 
> Section 2.11.2.2, paragraph 22
> > -range-with-identifier" referenced by a uses statement not found. (Path "/iet
> >                                       ^
> Use "an" instead of "a" if the following word starts with a vowel sound, e.g.
> "an article", "an hour".
> 
> Section 2.11.2.2, paragraph 22
> > separate equipment catalog. This attributes applies only when the type-variet
> >                                  ^^^^^^^^^^
> Consider using the singular form after the singular determiner "This".
> 
> Section 2.11.2.2, paragraph 22
> > ; mandatory true; description "It represent total output power measured in th
> >                                   ^^^^^^^^^
> After "It", use the third-person verb form "represents".
> 
> Section 2.11.2.2, paragraph 22
> > amplifier inferred to the add port. This permits add path OSNR calculation b
> >                                     ^^^^
> Did you mean "these"?
> 
> Section 2.11.2.2, paragraph 22
> > power constraints. The max value correspond to worst case expected loss, inc
> >                                  ^^^^^^^^^^
> The verb form "correspond" does not seem to match the subject "value".
> 
> Section 2.11.2.2, paragraph 22
> > raints. The max value correspond to worst case expected loss, including ampli
> >                                     ^^^^^
> A determiner may be missing.
> 
> Section 2.11.2.2, paragraph 28
> > o reduce the power of a strong carrier(due to ripple,for example), then the u
> >                                       ^
> It appears that a white space is missing.
> 
> Section 2.11.2.2, paragraph 30
> > ontribution of the drop path amplifier(if present) for the case of additional
> >                                       ^
> It appears that a white space is missing.
> 
> Section 2.11.2.2, paragraph 49
> > ent. It could be structured e.g., as an URI or as an UUID."; } uses otsi-gro
> >                                      ^^
> Use "a" instead of "an" if the following word doesn't start with a vowel sound,
> e.g. "a sentence", "a university".
> 
> Section 2.11.2.2, paragraph 49
> >  be structured e.g., as an URI or as an UUID."; } uses otsi-group; } // list
> >                                      ^^
> Use "a" instead of "an" if the following word doesn't start with a vowel sound,
> e.g. "a sentence", "a university".
> 
> Section 2.11.2.2, paragraph 50
> > iption "The textual description of the the set of optical impairments related
> >                                    ^^^^^^^
> Possible typo: you repeated a word.
> 
> Section 2.11.2.2, paragraph 50
> > escription "The transponder can be configure to be used either in an Optical
> >                                 ^^^^^^^^^^^^
> There may an error in the verb form "be configure".
> 
> Section 2.11.2.2, paragraph 56
> >  a group of transponder in which an a an electrical connectivity is either i
> >                                     ^^^^
> Two determiners in a row. Choose either "a" or "an".
> 
> Section 2.11.2.2, paragraph 75
> > tion "The list of transceivers having a LLC different from the default LLC.";
> >                                       ^
> Use "an" instead of "a" if the following word starts with a vowel sound, e.g.
> "an article", "an hour".
> 
> Section 2.11.2.2, paragraph 75
> > "; } description "The reference to the the transceiver of this LLCL entry.";
> >                                    ^^^^^^^
> Possible typo: you repeated a word.

See: https://mailarchive.ietf.org/arch/msg/ccamp/EPQTdNTPrlK5yVeOBR8N6nQAKvU/