Yangdoctors last call review of draft-ietf-ccamp-optical-impairment-topology-yang-12

See https://mailarchive.ietf.org/arch/msg/ccamp/MbtQPjzi2EzM6ZmySKr5I6_YVDY/

Reviewer: Michal Vaško
Review result: On the Right Track

The reviewed YANG module should describe the parameters it intends to describe
but there are lots of formal shortcomings in YANG formatting and general
consistency. To fix formatting, pyang tool can be used. Description texts
should be full sentences. Data examples are not valid (even include a note that
they need to be updated), use yanglint to validate them against the YANG
module. Other than that, some specific improvements:

## line 170: leaf out-voa
- units dB seems redundant, it is part of the used type name

> YES, it's true . We have already defined   typedef power-in-db-or-null

## 326 - 379: grouping roadm-add-path
## 426 - 478: grouping roadm-drop-path
- all the 5 leaves seems to match exactly those in the grouping
roadm-express-path above so I would just put uses in this grouping

> the leafs seems equal but the descriptions are different since applied in different condition e.g. roadm-maxloss is different in case of add path loss from add/drop port input to ROADM egress port or in case of express-path in which the loss is computed between ingress and egress ports of the ROADM.

## 405, 571: leaf roadm-noise-figure
- lots of the leaves are using types from l0-types
- a local typedef can be defined (if no existing one can be used) that would
prevent duplication of all the information and move type specifics out of the
data nodes - alternatively a grouping with this leaf can be defined to avoid
description duplication but that is up to you, seems unnecessary

> OK, so the suggestion is to create a local typedef to move type specifics out of the data node (leaf).We can define we can define a typedef decimal-5-digits and then a typedef decimal-5-digits-or-null  like in RFC9093 for 2 digits.
For the grouping instead  the leaf roadm-noise-figure is repeated in other groupings but the description is different since applied in different condition i.e. drop path vs. add-path . 


## 631: leaf nominal-power-spectral-density
- similar problem as the previous one except a grouping makes no sense, just a
typedef

> OK we can define a typedef decimal-16-digits and then a typedef decimal-16-digits-or-null  like in RFC9093 for 2 digits

## 287, 298, 635, 686:
- union with an empty type is used a lot and selecting this type is usually
explained but not in these cases

> The usage of “empty” type in the module is described on top of the module, in the description :…
” Within this module, if the value of a mandatory attribute is unknown, it MUST be reported using the empty type. If an optional attribute is applicable but its value is unknown, it MUST be reported using the empty type.” 


## 880: augment "/nw:networks/nw:network/nw:network-types/tet:te-topology"
- adding an empty presence container, which does not make sense on its own
unless other foreign augments are expected - following 2 augments add into this
container, why not merge all 3 augments into one to prevent any confusion?

> This model is augmenting ietf- te-topology , that is also augmenting ietf-network. For this augmentation related to the type of network both are following the guideline in section 4.3 of RFC8345 that, among other things says: “….First, a new network type needs to be defined; this is done by
defining a presence container that represents the new network type. The new network type is inserted, by means of augmentation, below the network-types container……”
So the augmentation with adding an empty presence container has its own meaning. 
The other augmentation you mention have a different xpath , so they cannot be put together with the first augmentation.


## 899: container otsi-information
- including "information" in the identifier seems redundant
- 

> ok, any suggestion to avoid leaving just otsi as name of container? In the container there is for example the definition of otsi-group that it could represents more than 1 otsi , the idea of adding “information” at the end ot otsi name is to represent the fact the container contains any otsi related “information” e.g. otsi-group . Maybe “information” can be redundant but leaving otsi only does not add clarity.

## 1293, 1315, 1335, 1359, 1412, 1468: leaf roadm-path-impairments
- all the leaves are "config false" when augments are applied but some have it
specified explicitly some not -

> OK, we will align the code : 1315 and 1294 need to be aligned with “config false”

 if the leafref path is changed to an absolute
path, the leaf can be in a grouping and used at all the places

> OK . like this
> 
> ```
> grouping roadm-path-impairments {
>     description
>       "This grouping can be used to references the list set of ROADM
>        Optical impairments.";
>     leaf roadm-path-impairments {
>       type leafref {
>         path "/nw:networks/nw:network/nw:node/tet:te”
>         + “/tet:te-node-attributes"
>         + “roadm-path-impairments/roadm-path-impairments-id”;
>        }
>       description
>         "pointer to the list set of ROADM optical 
>       impairments";
>     }
>   }
> 
> ```
> 

## 1492 - 1509; 1524 - 1541; 1570 - 1579; 1614 - 1623:
- both leaves add-path-impairments and drop-path-impairments use the same
absolute path leafref so a single typedef can be defined (also used for the
leafref in the leaf roadm-path-impairments above) - then both leaves can be put
into a grouping and used at all 4 places

> OK, practically we need to put the two leaves in a single grouping and change the relative path of the two leaves into absolute one (same type as above)
> ```
>       type leafref {
>         path "/nw:networks/nw:network/nw:node/tet:te"
>            + "/tet:te-node-attributes"
>            + "roadm-path-impairments/roadm-path-impairments-id";
> 
> ```
> 

Regards,
Michal


> See https://mailarchive.ietf.org/arch/msg/ccamp/MbtQPjzi2EzM6ZmySKr5I6_YVDY/
> 
> Reviewer: Michal Vaško Review result: On the Right Track
> 
> The reviewed YANG module should describe the parameters it intends to describe but there are lots of formal shortcomings in YANG formatting and general consistency. To fix formatting, pyang tool can be used. Description texts should be full sentences. Data examples are not valid (even include a note that they need to be updated), use yanglint to validate them against the YANG module. Other than that, some specific improvements:
> 
> ## line 170: leaf out-voa
> * units dB seems redundant, it is part of the used type name
> 
> ## 326 - 379: grouping roadm-add-path
> ## 426 - 478: grouping roadm-drop-path
> * all the 5 leaves seems to match exactly those in the grouping
>   roadm-express-path above so I would just put uses in this grouping
> 
> ## 405, 571: leaf roadm-noise-figure
> * lots of the leaves are using types from l0-types
> * a local typedef can be defined (if no existing one can be used) that would
>   prevent duplication of all the information and move type specifics out of the
>   data nodes - alternatively a grouping with this leaf can be defined to avoid
>   description duplication but that is up to you, seems unnecessary
> 
> ## 631: leaf nominal-power-spectral-density
> * similar problem as the previous one except a grouping makes no sense, just a
>   typedef
> 
> ## 287, 298, 635, 686:
> * union with an empty type is used a lot and selecting this type is usually
>   explained but not in these cases
> 
> ## 880: augment "/nw:networks/nw:network/nw:network-types/tet:te-topology"
> * adding an empty presence container, which does not make sense on its own
>   unless other foreign augments are expected - following 2 augments add into this
>   container, why not merge all 3 augments into one to prevent any confusion?
> 
> ## 899: container otsi-information
> * including "information" in the identifier seems redundant
> 
> ## 1293, 1315, 1335, 1359, 1412, 1468: leaf roadm-path-impairments
> * all the leaves are "config false" when augments are applied but some have it
>   specified explicitly some not - if the leafref path is changed to an absolute
>   path, the leaf can be in a grouping and used at all the places
> 
> ## 1492 - 1509; 1524 - 1541; 1570 - 1579; 1614 - 1623:
> * both leaves add-path-impairments and drop-path-impairments use the same
>   absolute path leafref so a single typedef can be defined (also used for the
>   leafref in the leaf roadm-path-impairments above) - then both leaves can be put
>   into a grouping and used at all 4 places
> 
> Regards, Michal



> See https://mailarchive.ietf.org/arch/msg/ccamp/MbtQPjzi2EzM6ZmySKr5I6_YVDY/
> 
> Reviewer: Michal Vaško Review result: On the Right Track
> 
> The reviewed YANG module should describe the parameters it intends to describe but there are lots of formal shortcomings in YANG formatting and general consistency. To fix formatting, pyang tool can be used. Description texts should be full sentences. Data examples are not valid (even include a note that they need to be updated), use yanglint to validate them against the YANG module. Other than that, some specific improvements:
> 
> ## line 170: leaf out-voa
> * units dB seems redundant, it is part of the used type name
> 
> > YES, it's true . We have already defined   typedef power-in-db-or-null
> 
> ## 326 - 379: grouping roadm-add-path
> ## 426 - 478: grouping roadm-drop-path
> * all the 5 leaves seems to match exactly those in the grouping
>   roadm-express-path above so I would just put uses in this grouping
> 
> > the leafs seems equal but the descriptions are different since applied in different condition e.g. roadm-maxloss is different in case of add path loss from add/drop port input to ROADM egress port or in case of express-path in which the loss is computed between ingress and egress ports of the ROADM.
>IB> If the description are identical but jus applied to different paths, we can use a single grouping with the note that the attributes can be applicable to different path types and also clarify to which path is applied whith the "uses" statement 
e.g. 
 uses foo {
   description
      "These attributes apply to the ROADM express path.";
}

> ## 405, 571: leaf roadm-noise-figure
> * lots of the leaves are using types from l0-types
> * a local typedef can be defined (if no existing one can be used) that would
>   prevent duplication of all the information and move type specifics out of the
>   data nodes - alternatively a grouping with this leaf can be defined to avoid
>   description duplication but that is up to you, seems unnecessary
> 
> > OK, so the suggestion is to create a local typedef to move type specifics out of the data node (leaf).We can define we can define a typedef decimal-5-digits and then a typedef decimal-5-digits-or-null  like in RFC9093 for 2 digits.
> > For the grouping instead  the leaf roadm-noise-figure is repeated in other groupings but the description is different since applied in different condition i.e. drop path vs. add-path .
> IB> yes, probably better to define this typedef RFC9093-bis

> ## 631: leaf nominal-power-spectral-density
> * similar problem as the previous one except a grouping makes no sense, just a
>   typedef
> 
> > OK we can define a typedef decimal-16-digits and then a typedef decimal-16-digits-or-null  like in RFC9093 for 2 digits

typedef decimal-2-digits {
    type decimal64 {
      fraction-digits 2;
    }
    description
      "A decimal64 value with two digits.";
  }

  typedef decimal-2-digits-or-null {
    type union {
      type decimal-2-digits;
      type empty;
    }
    description
      "A decimal64 value with two digits, when the value is know or
      an empty value when the value is not known.";
  }

> IB> yes and also in this case we can put it int the RFC9093-bis

> ## 287, 298, 635, 686:
> * union with an empty type is used a lot and selecting this type is usually
>   explained but not in these cases
> 
> > The usage of “empty” type in the module is described on top of the module, in the description :…
> > ” Within this module, if the value of a mandatory attribute is unknown, it MUST be reported using the empty type. If an optional attribute is applicable but its value is unknown, it MUST be reported using the empty type.”
> 
> ## 880: augment "/nw:networks/nw:network/nw:network-types/tet:te-topology"
> * adding an empty presence container, which does not make sense on its own
>   unless other foreign augments are expected - following 2 augments add into this
>   container, why not merge all 3 augments into one to prevent any confusion?
> 
> > This model is augmenting ietf- te-topology , that is also augmenting ietf-network. For this augmentation related to the type of network both are following the guideline in section 4.3 of RFC8345 that, among other things says: “….First, a new network type needs to be defined; this is done by
> > defining a presence container that represents the new network type. The new network type is inserted, by means of augmentation, below the network-types container……”
> > So the augmentation with adding an empty presence container has its own meaning.
> > The other augmentation you mention have a different xpath , so they cannot be put together with the first augmentation.
> 
> ## 899: container otsi-information
> * including "information" in the identifier seems redundant
> 
> > ok, any suggestion to avoid leaving just otsi as name of container? In the container there is for example the definition of otsi-group that it could represents more than 1 otsi , the idea of adding “information” at the end ot otsi name is to represent the fact the container contains any otsi related “information” e.g. otsi-group . Maybe “information” can be redundant but leaving otsi only does not add clarity.
> 
> ## 1293, 1315, 1335, 1359, 1412, 1468: leaf roadm-path-impairments
> * all the leaves are "config false" when augments are applied but some have it
>   specified explicitly some not -
> 
> > OK, we will align the code : 1315 and 1294 need to be aligned with “config false”
> 
> if the leafref path is changed to an absolute path, the leaf can be in a grouping and used at all the places
> 
> > OK . like this
IB> see mail thread with YANG doctor [https://mailarchive.ietf.org/arch/msg/yang-doctors/8EHiqGRcAxJkv2OtSLcU9a7i848/](url)
The absolute path should anyway indicate network-id and node-id as keys for the network and node list. So you ahve again relative path inside. What we can do is to clearly saying in the description of this grouping with relative path, to be careful to use the grouping outside the module.

> grouping roadm-path-impairments { description "This grouping can be used to references the list set of ROADM Optical impairments."; leaf roadm-path-impairments { type leafref { path "/nw:networks/nw:network/nw:node/tet:te” + “/tet:te-node-attributes" + “roadm-path-impairments/roadm-path-impairments-id”; } description "pointer to the list set of ROADM optical impairments"; } }
> 
> ## 1492 - 1509; 1524 - 1541; 1570 - 1579; 1614 - 1623:
> * both leaves add-path-impairments and drop-path-impairments use the same
>   absolute path leafref so a single typedef can be defined (also used for the
>   leafref in the leaf roadm-path-impairments above) - then both leaves can be put
>   into a grouping and used at all 4 places
> 
> > OK, practically we need to put the two leaves in a single grouping and change the relative path of the two leaves into absolute one (same type as above)
> > type leafref {
> > path "/nw:networks/nw:network/nw:node/tet:te”
> > + “/tet:te-node-attributes"
> > + “roadm-path-impairments/roadm-path-impairments-id”;
IB> We can do anyway a grouping as suggested but clarifying the external dependency as indicated in the last bullet in 4.13 of RFC8407
"Clearly identify any external dependencies in the grouping
      "description" statement, such as nodes referenced by an absolute
      path from a "path", "must", or "when" statement."

> 
> Regards, Michal



> > if the leafref path is changed to an absolute path, the leaf can be in a grouping and used at all the places
> > > OK . like this
> > > ```
> > > grouping roadm-path-impairments {
> > >   description
> > >     "This grouping can be used to references the list set of ROADM 
> > >     Optical impairments.";
> > >   leaf roadm-path-impairments {
> > >     type leafref {
> > >       path "/nw:networks/nw:network/nw:node/tet:te" 
> > >          + "/tet:te-node-attributes" 
> > >          + "roadm-path-impairments/roadm-path-impairments-id";
> > >     }
> > >     description
> > >       "pointer to the list set of ROADM optical impairments";
> > >   }
> > > }
> > > ```
> 
> > **IB>** see mail thread with YANG doctor https://mailarchive.ietf.org/arch/msg/yang-doctors/8EHiqGRcAxJkv2OtSLcU9a7i848/
> > The absolute path should anyway indicate network-id and node-id as keys for the network and node list. So you ahve again relative path inside. What we can do is to clearly saying in the description of this grouping with relative path, to be careful to use the grouping outside the module.

**Italo, Sergio**: Actually there is no grouping in the current YANG: the grouping is proposed by the YANG doctor. It is not viable to define a new grouping because the relative path is different in the different locations. Changing the relative path into an absolute path requires adding relative paths to identify the network-id and the node-id where the list of ROADM impairments exist: see also a similar mail thread with YANG doctors: https://mailarchive.ietf.org/arch/msg/yang-doctors/8EHiqGRcAxJkv2OtSLcU9a7i848/