AD follow-ups comments

Remaining unresolved comments from previous AD review (28-Apr-25):

> [general] I liked it that the document takes excerpts from some of the ITU-T
> and other specifications to explain terminologies. That is very helpful.
> However, the document is not consistent with the same approach and there are
> several other acronyms and terms where they are not defined or defined later
> in the document flow. Please see below for some examples, but request authors
> to take a pass through and review.

- [ ] AP all:

> [nit] I found several places in the document where some grammar, punctuation,
> and sentence construction can be fixed/improved. I've pointed out a few. However, 
> I am not going to get into that level of editorial review and will instead 
> recommend the use of some of the widely available tools (e.g., Microsoft Word, 
> Google Docs, Grammarly, etc.).

- [x] AP Dieter: fix nits - done - see PR

> 133   The intent of this document is to provide a YANG data model, which
> 134   can be utilized by a Multi-Domain Service Coordinator (MDSC) to
> 135   collect states of WSON impairment data from the Transport PNCs to
> 
> [minor] Please expand PNC

- [x] AP Dieter: fixed

> 159   Therefore, the topology information that is typically provided by a
> 160   Transport PNC is assumed to be read-only (ro) data, i.e., not
> 161   configurable (read-write).  This may change when the same optical
> 162   impairment-aware topology model is used for other use cases than
> 163   exposing the network topology.  E.g, for a path computation engine,
> 164   where topological elements could be added in the context of a what-if
> 165   scenario analysis.  This is outside of the scope of this document.
> 
> [question] How easy/difficult is the process to change ro to rw for a model's
>  data? Is it backwards compatible or would need a new model.


> 171 1.1.  Terminology
> 
> 173   Refer to [RFC6566], [RFC7698], and [G.807] for the key terms used in
> 174   this document.
> 
> [minor] It would help a reader if those key terms were mapped to each of these
> specs.

- [ ] AP Dieter: pending

---

Additional AD review comments (10-Jul-25) 

Hi Dieter (and co-authors), 

Thanks for sharing the updates. There are a few follow-ups:

1) The BCP 14 boilerplate is also required in the body of the draft since there is uppercase normative language there as well. Perhaps in section 1.1 or a new section 1.4 for it.

- [x] AP Dieter: new section 1.4 added as suggested:

```
1.4.  Requirements Language

   The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
   "SHOULD", "SHOULD NOT", "RECOMMENDED", "NOT RECOMMENDED", "MAY", and
   "OPTIONAL" in this document are to be interpreted as described in BCP
   14 [RFC2119] [RFC8174] when, and only when, they appear in all
   capitals, as shown here.
```

2) Section 2.10.2 still has the following:

[Editor's note: This will be addressed in a future revision of this document. See Editor's note above.]

- [x] AP Dieter: removed

3) Section 2.10.4 still has this bullet "Filtering effects (for further study)" without clarification or whether that work is still pending in this document or in/out of scope of this document. 

- [x] AP Dieter: --> "out of scope of this document"

`   *  Filtering effects (out of scope of this document)
`

4) I missed this in my first review, but what is this xxx and yyy referring to in the descriptions below?
    leaf roadm-pmin {
      type l0-types:power-dbm-or-null;
      description
        "If the drop path has additional loss
         that is added, for example,
         to hit target power levels into a
         drop path amplifier, or simply, to reduce the
         power of a strong carrier
         (due to ripple,for example),
         then the use of the ROADM input power levels and
         the above drop losses is not appropriate.
         This parameter corresponds to the min per
         carrier power levels
         expected at the output of the drop block.
         A detail example of the comparison using
         these parameters is
         detailed in section xxx of the document yyy.";
    }
    leaf roadm-pmax {
      type l0-types:power-dbm-or-null;
      description
        "If the drop path has additional loss that is added,
         for example, to hit target power levels into a
         drop path amplifier,or simply,to reduce the power
         of a strong carrier(due to ripple,for example),
         then the use of the ROADM input power levels and the
         above drop losses is not appropriate.
         This parameter corresponds to the best case per
         carrier power levels expected at the output of the
         drop block.
         A detail example of the comparison using
         these parameters
         is detailed in section xxx of the document yyy";
    }

- [x] AP Sergio/Italo: fix the reference issue
- [x] AP Dieter : add ITU-T Recommendation G.680 to the normative section

Please reply inline for my above comments. I found it hard to reconcile the changes from github to my initial review and found that some of my comments were either missed or not responded to. It would make it easier to follow-up and confirm closure.
Thanks,
Ketan
see https://mailarchive.ietf.org/arch/msg/ccamp/HMlqI0yDq3kAeFyT6AhbfU4BobI/

Weekly call on 07-29-25:
About "AP Sergio/Italo: fix the reference issue" related to the description in the two attributes roadm-pmin and roadm-pmax, Enrico found a good standard reference in the ITU-T Recommendation G.680.
So we agreed to insert this sentence:
`"This  corresponds to the minimum (maximum) value of the Drop Channel output power range as defined in ITU-T Recommendation G.680, Table 8-6.”`
This sentence should substitute  this text in the description;
 `"This parameter corresponds to the best case per carrier power levels expected at the output of the drop block. A detail example of the comparison using these parameters is detailed in section xxx of the document yyy"`

Updated paragraph with reference to ITU-T Recommendation G.680:

```
   The optical impairments associated with each of the three types of
   ROADM-node-internal paths listed above are modeled as optical
   impairment parameter sets.  These parameter sets are modeled as an
   augmentation of the te-node-attributes defined in [RFC8795].  The te-
   node-attributes are augmented with a list of roadm-path-impairments
   for the three ROADM path types distinguished by the impairment-type.
   Each roadm-path-impairments list entry contains the set of optical
   impairment parameters for one of the three path types indicated by
   the impairment-type.  For the optical feasibility calculation based
   on the optical impairments, it is necessary to know whether the
   optical power of the OTSi stays within a certain power window.  This
   is reflected by some optical power related parameters such as loss
   parameters or power parameters (see also [G.680]), which are included
   in the optical impairment parameter sets (see tree view in
   Section 3).
```

This is issue has been closed with text update contained in PR#197 https://github.com/ietf-ccamp-wg/draft-ietf-ccamp-optical-impairment-topology-yang/pull/197, already merged into the main